<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎵 Carica Spartito 🎵</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/upload_styles.css' %}">
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>🎵 Carica Spartito</h1>
        {{ form.as_p }}
        <input type="submit" value="Carica Spartito">
    </form>
</body>
</html>
