/* Stile del corpo della pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #007BFF; /* Imposta il colore di sfondo su blu */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centro il contenuto orizzontalmente */
    align-items: center; /* Centro il contenuto verticalmente */
    min-height: 100vh; /* Imposta l'altezza minima al 100% dell'altezza del viewport */
    text-align: center;
}

/* Stile del modulo di caricamento */
form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stile dell'intestazione del modulo */
h1 {
    font-size: 24px;
    margin: 0 0 20px;
}

/* Stile del pulsante di caricamento */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Stile del pulsante al passaggio del mouse */
button:hover {
    background-color: #0056b3;
}

/* Stile del contenuto */
.content {
    text-align: center; /* Centro il testo orizzontalmente */
    color: #fff; /* Imposta il colore del testo su bianco */
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente per migliorare la leggibilità del testo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Ombra leggera intorno al contenuto */
}

/* Stile per il testo "Carica una partitura" */
h1 {
    color: #fff; /* Imposta il colore del testo su bianco */
}


